<h1>Data Science Tools and Ecosystem <H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Sckit-Learn
3. TensorFlow
4. Pytorch

|Data Science Tools|
|------------------|
|Matplotlib|
|Apache Spark|
|Numpy|

<H3>Below are a few examples of evaluating arithmetic expressions in Python<H3>

In [10]:
#This is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<H3>Below are a few examples of evaluation arithmetic expression in Python<H3>

In this notebook, Data Science Tools and Ecosystem are summarized.
Objectives:
* Python
* R
* Julia
* Java
* SQL

<H2>Author<H2>

Suki Norris